@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.profile-picture{
  height:7vh; // I could not get the size working using bootstrap, tried with both vh-x, h-x, and mh-x but none of them actually resized the picture or the container

  aspect-ratio: 1/1;
  object-fit: cover; 
  cursor: pointer;
}
.post-name{
  cursor: pointer;
}
.hidden{
  display: none;
}
.s-icon, .close{
  color:white;
  cursor: pointer;
}
.profile-picture-profile{
  max-height: 20vh; //Had the same issue with these images as the .profile-picture images 
  aspect-ratio: 1/1;
  object-fit: cover;
}
.friend-container img{
  max-height: 6vh; //Had the same issue with these images as the .profile-picture images
  aspect-ratio: 1/1;
  object-fit: cover;
}
main{
  min-height: calc(100vh - 136px) //Just a height fix to force the footer to the bottom of the page on the login screen since the login form don't cover the entire height of the container
}
.logout{
  cursor: pointer;
}
.confirm-error label, .password-error label, .email-error label{
  display: flex;
  justify-content: space-between;
}
.confirm-error label::after{
  content:"Passwords must match";
  color: red;
}
.password-error label::after{
  content:"Minimum 8 characters";
  color: red;
}
.email-error label::after{
  content:"Must be a valid Noroff email adress";
  color: red;
}

@media(min-width: 700px){  
  main{
    max-width: 90%;
    margin: 0 auto;
  }
  .search-field{
    max-width: 90%;
    margin: 0 auto;
  }
  nav{
    max-width: 90%;
    margin: 0 auto;
  }
}
@media(min-width: 1000px){
  main{
    max-width:75%;
  }
  .search-field{
    max-width: 75%;
  }
  nav{
    max-width: 75%;
  }
}
@media(min-width: 1200px){
  main{
    max-width: 50%;
  }
  .search-field{
    max-width: 50%;
  }
  nav{
    max-width: 50% !important;
  }
}